/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import "tailwindcss";

/* Override Tailwind's default font to use Inter */
@theme {
	--font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* WordPress content formatting */
.prose {
	color: #374151;
	max-width: 85ch;
}

.prose p {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	line-height: 1.75;
	font-size: 1.125rem;
}

.prose h1 {
	color: #111827;
	font-weight: 800;
	font-size: 2.25em;
	margin-top: 0;
	margin-bottom: 0.8888889em;
	line-height: 1.1111111;
}

.prose h2 {
	color: #111827;
	font-weight: 700;
	font-size: 1.875em;
	margin-top: 2em;
	margin-bottom: 1em;
	line-height: 1.3333333;
}

.prose h3 {
	color: #111827;
	font-weight: 600;
	font-size: 1.5em;
	margin-top: 1.6em;
	margin-bottom: 0.6em;
	line-height: 1.6;
}

.prose h4 {
	color: #111827;
	font-weight: 600;
	font-size: 1.25em;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	line-height: 1.5;
}

.prose a {
	color: #EFE7E2;
	text-decoration: underline;
	font-weight: 500;
}

.prose a:hover {
	color: #d4ccc7;
}

.prose strong {
	color: #111827;
	font-weight: 600;
}

.prose ul, .prose ol {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	padding-left: 1.625em;
}

.prose ul {
	list-style-type: disc;
}

.prose ol {
	list-style-type: decimal;
}

.prose li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	line-height: 1.75;
	font-size: 1.125rem;
}

.prose ul ul, .prose ol ol, .prose ul ol, .prose ol ul {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* WordPress block styles */
.wp-block-list {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	padding-left: 1.625em;
}

ol.wp-block-list {
	list-style-type: decimal;
}

ul.wp-block-list {
	list-style-type: disc;
}

.wp-block-list li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	line-height: 1.75;
	font-size: 1.125rem;
}

.prose blockquote {
	font-weight: 500;
	font-style: italic;
	color: #111827;
	border-left-width: 0.25rem;
	border-left-color: #e5e7eb;
	quotes: "\201C""\201D""\2018""\2019";
	margin-top: 1.6em;
	margin-bottom: 1.6em;
	padding-left: 1em;
}

.prose img {
	margin-top: 2em;
	margin-bottom: 2em;
	border-radius: 0.5rem;
}

.prose figure {
	margin-top: 2em;
	margin-bottom: 2em;
}

.prose code {
	color: #111827;
	font-weight: 600;
	font-size: 0.875em;
	background-color: #f3f4f6;
	padding: 0.2em 0.4em;
	border-radius: 0.25rem;
}

.prose pre {
	color: #e5e7eb;
	background-color: #1f2937;
	overflow-x: auto;
	font-size: 0.875em;
	line-height: 1.7142857;
	margin-top: 1.7142857em;
	margin-bottom: 1.7142857em;
	border-radius: 0.375rem;
	padding: 0.8571429em 1.1428571em;
}

.prose pre code {
	background-color: transparent;
	border-width: 0;
	border-radius: 0;
	padding: 0;
	font-weight: 400;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
}

/* Minimal base styles */
body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
	background-color: #fafaf9; /* stone-50 */
}

/* Global link colors */
a {
	color: #EFE7E2;
}

a:hover {
	color: #d4ccc7;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}
